@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";




li {
    font-size: 20px;
    list-style: none;
    
}

a {
    text-decoration: none;
}

#maintextnav {
    font-size:  22px;
    color: blueviolet;
}


.mainTxt {

    font-size: 19px;
    margin-top: 1rem;

}